.navbar-head-main {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background-color: #cb7f61;
}

.navbar .navbar-nav .nav-link-name a{
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #cb7f61;
}

.img-info h3 {
  font-size: 35px;
  color: hsl(18.11deg 50.48% 58.82%);
  font-weight: 600;
}

.img-info p {
  color: #000;
  font-weight: 400;
}

.img-info button {
  padding: 7px 38px;
  background-color: hsl(18.11deg 50.48% 58.82%);
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
}

.contact-us-btn {
  background-color: rgb(255 255 255 / 83%);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.product-section .product-info-text-name h1 {
  margin: 13px 0;
  font-size: 34px;
}

.product-section p {
  color: hsl(18.11deg 50.48% 58.82%);
  font-weight: 600;
  font-size: 18px;
}

/* Product Section Start */
.product-section,
.latest-news,
.trending-product,
.insta-section,
.product-section {
  padding: 10px 25px;
}

.footer-section {
  padding: 8px 25px;
}

.footer_copyright h2 {
  text-align: center;
}

.trending-product {
  background-color: #f8e1e1;
}

.trending-product h2 {
  color: rgb(203, 127, 97);
  font-weight: 600;
  font-size: 30px;
}

.insta-section {
  background-color: #f3f3f3;
}

/* Product Section End */

.product-card {
  position: relative;
  margin: 35px auto;
  background: #fafafa;
  cursor: pointer;
}

.product-card .product-card-name {
  position: absolute;
  width: 200px;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.product-card .product-card-name h5 {
  margin: 0;
}

.product-info-text h4 {
  color: rgb(203, 127, 97);
  font-weight: 500;
  font-size: 26px;
}

.latest_product_info h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.latest_product_info .form-group {
  display: flex;
  align-items: center;
}

.latest_product_info input {
  border: none !important;
  border-bottom: 2px solid #000 !important;
  border-radius: 0 !important;
  margin-right: 15px !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.form-group .form-control:focus {
  border: none !important;
  border-bottom: 2px solid #000 !important;
  border-radius: 0 !important;
  margin-right: 15px !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.latest_product_info .inq_btn {
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-size: 18px;
  font-weight: 600;
}

.latest_product_info .inq_btn:active {
  border: none !important;
  border-bottom: 2px solid #000 !important;
}

.badge {
  position: absolute;
  right: 8px;
  top: 8px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background: green;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px 0 !important;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #f0f0f0; */
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
  text-align: center;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #999;
  margin: 0;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

.instagram-icon {
  font-size: 45px;
  color: rgb(203, 127, 97);
  border: 2px solid rgb(203, 127, 97);
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 8px;
}

.product-text h4 {
  color: rgb(203, 127, 97);
  font-weight: 600;
  font-size: 30px;
}

.newsletter h3 {
  color: rgb(203, 127, 97);
  font-weight: 600;
  font-size: 30px;
}

.form-main {
  /* background: linear-gradient(to bottom, #00000024, #00000024); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-main .main-wrapper {
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  box-shadow: 0 0 5px 5px #00000020;
  backdrop-filter: blur(5px);
  background-color: #ffffff85;
}
@media screen and (max-width: 991px) {
  .form-main .main-wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .form-main .main-wrapper {
    width: 90%;
  }
}
.form-main .main-wrapper .form-head {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  margin: 0px 0 25px;
}
.form-main .main-wrapper .form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.form-main .main-wrapper .form-wrapper .form-card {
  position: relative;
  width: 100%;
}
.form-main .main-wrapper .form-wrapper .form-card .form-input {
  padding: 20px 25px 15px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  background: transparent;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
}
.form-main .main-wrapper .form-wrapper .form-card .form-input:valid,
.form-main .main-wrapper .form-wrapper .form-card .form-input:focus {
  border: 1px solid #515151;
}
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-input:valid
  ~ .form-label,
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-input:focus
  ~ .form-label {
  color: #515151;
  top: 30%;
  transform: translateY(-70%);
  font-size: 13px;
  line-height: 23px;
}
.form-main .main-wrapper .form-wrapper .form-card .form-input:-webkit-autofill,
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-input:-webkit-autofill:hover,
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-input:-webkit-autofill:focus,
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-input::-webkit-outer-spin-button,
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-main .main-wrapper .form-wrapper .form-card .form-label {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}
.form-main .main-wrapper .form-wrapper .form-card .form-textarea {
  padding: 20px 25px 15px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  background: transparent;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  resize: none;
  box-sizing: border-box;
}
.form-main .main-wrapper .form-wrapper .form-card .form-textarea:valid,
.form-main .main-wrapper .form-wrapper .form-card .form-textarea:focus {
  border: 1px solid #515151;
}
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-textarea:valid
  ~ .form-textarea-label,
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-textarea:focus
  ~ .form-textarea-label {
  color: #515151;
  top: 18%;
  transform: translateY(-82%);
  font-size: 13px;
  line-height: 23px;
}
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-textarea:-webkit-autofill,
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-textarea:-webkit-autofill:hover,
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-textarea:-webkit-autofill:focus,
.form-main
  .main-wrapper
  .form-wrapper
  .form-card
  .form-textarea:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}
.form-main .main-wrapper .form-wrapper .form-card .form-textarea-label {
  position: absolute;
  left: 25px;
  top: 30%;
  transform: translateY(-70%);
  pointer-events: none;
  transition: 0.3s;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 0;
}

.btn-wrap button {
  padding: 0 32px;
  font-size: 18px;
  line-height: 48px;
  border: 1px solid transparent;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 0 5px 5px #00000020;
}

.btn-wrap button:hover {
  border: 1px solid #000;
  background: transparent;
}
